.mainContainer {
  background-color: var(--primary-dark-blue);
  width: 100%;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}
.mainContainer h2 {
  color: var(--text-white);
}
.searchBox {
  width: 40%;
  height: 40px;
  display: flex;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.searchBox input {
  width: 90%;
  height: 100%;
  border: 1px solid var(--text-gray);
  outline: none;
  background-color: inherit;
  border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -ms-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
  border-right: none;
  padding: 0px 20px;
  color: var(--text-gray);
}
.searchBox input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.searchBtn {
  background-color: var(--main-green);
  color: var(--text-white);
  width: 10%;
  font-size: 1.6rem;
  border-radius: 0px 5px 5px 0;
  -webkit-border-radius: 0px 5px 5px 0;
  -moz-border-radius: 0px 5px 5px 0;
  -ms-border-radius: 0px 5px 5px 0;
  -o-border-radius: 0px 5px 5px 0;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer nav {
  width: 10%;
}
.mainContainer ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mainContainer a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-gray);
}
.mainContainer a:hover,
.activeLink {
}
.cartLink {
  position: relative;
}
.badge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--red-color);
  color: var(--text-white);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile {
  height: 40px;
  width: 8%;
  border-left: 1px solid var(--text-gray);
}
