.mainContainer {
  background-color: var(--primary-dark-blue);
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.title {
  width: 70%;
}
.title h2 {
  font-size: 1.3rem;
  color: var(--text-white);
}
.sideContainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mainContainer nav {
  width: 60%;
}
.mainContainer ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mainContainer a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text-gray);
  display: flex;
  align-items: center;
}

.cartLink {
  position: relative;
}
.badge {
  width: 10px;
  height: 10px;
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: var(--red-color);
  color: var(--text-white);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile {
  height: 30px;
  width: 40%;
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin-left: 10px;
  border-left: 1px solid var(--text-gray);
}
.profile a {
  width: 100%;
}
.profileIcon {
  width: 30px;
  height: 30px;
  background-color: var(--pink-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-white);
  font-weight: bold;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .mainContainer {
    height: 5.5rem;
    padding: 25px;
  }
  .title {
    width: 60%;
  }
  .title h2 {
    font-size: 2rem;
  }
  .sideContainer {
    width: 40%;
  }
  .mainContainer nav {
    width: 25%;
  }
  .mainContainer ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .mainContainer a {
    font-size: 1.5rem;
  }
  .cartLink {
    position: relative;
  }
  .badge {
    width: 15px;
    height: 15px;
    top: -5px;
    right: -5px;
  }
  .profile {
    width: 20%;
    height: 40px;
    padding-left: 15px;
  }
  .profileIcon {
    width: 45px;
    height: 45px;
  }
}
