.mainContainer {
  background-color: #ede9fe;
  width: 100%;
  height: 3rem;
}
.mainContainer nav {
  height: 100%;
  width: 100%;
}
.mainContainer ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer a {
  margin: 0px 30px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.mainContainer a:hover,
.activeLink {
  background-color: #fff;
}
.badge {
  background-color: rgba(220, 108, 194, 0.133);
  color: darkmagenta;
  margin-left: 5px;
  padding: 3px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
