.main {
  padding: 1rem;
  color: var(--primary-dark-blue);
  min-height: calc(100vh - 5rem);
}
.link {
  color: var(--pink-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.link:hover {
  color: var(--red-color);
}
.mainContainer {
  max-width: 1170px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem;
}
.cartDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.topSec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topSec button {
  background-color: inherit;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  color: var(--primary-dark-blue);
}
.listTitle {
  display: flex;
  width: 100%;
  color: var(--text-gray);
  font-size: 14px;
  margin-top: 10px;
}
.listTitle div:first-child {
  width: 40%;
}
.listTitle div:last-child {
  width: 60%;
  display: flex;
}
.listTitle div:last-child p {
  width: 50%;
  text-align: right;
}
.cartList {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.cartItem {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(199, 223, 246, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.firstCol {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.firstCol h3 {
  font-size: 0.9rem;
}
.cartItemImg {
  width: 100px;
  height: 60px;
  margin-right: 0.8rem;
}
.cartItemImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cartItemInfo {
  width: 60%;
  display: flex;
}

.secondCol {
  width: 55%;
  display: flex;
  justify-content: flex-end;
}
.qtyBtnBox {
  display: flex;
}
.qtyBtn {
  padding: 2px 7px;
  border: 1px solid rgba(199, 223, 246, 0.5);
  background-color: inherit;
  font-size: 13px;
  color: var(--primary-dark-blue);
}
.qtyBtn:first-child {
  border-right: none;
  border-radius: 30px 0 0 30px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -ms-border-radius: 30px 0 0 30px;
  -o-border-radius: 30px 0 0 30px;
}
.qtyBtn:last-child {
  border-left: none;
  border-radius: 0 30px 30px 0;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  -ms-border-radius: 0 30px 30px 0;
  -o-border-radius: 0 30px 30px 0;
}
.thirdCol {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.thirdCol span {
  font-size: 15px;
  font-weight: bold;
  color: var(--main-green);
}
.cartSummary {
  width: 100%;
  height: max-content;
  border: 1px solid rgba(199, 223, 246, 0.5);
  background-color: #fff;
  padding: 0.5rem 0.5rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cartSummary h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.cartSummary div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cartSummary div span:first-child {
  color: var(--text-gray);
}
.netPrice {
  margin-top: 5px;
  border-top: 1px solid rgba(161, 151, 151, 0.7);
}
.cartSummary button {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  font-weight: bold;
  background-color: var(--main-green);
  color: #fff;
  margin-top: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .main {
    padding: 3rem;
  }
  .mainContainer {
    max-width: 1170px;
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .cartDetails {
    width: 70%;
  }
  .listTitle {
    font-size: 16px;
  }

  .cartItem {
    height: 120px;
  }
  .cartItemImg {
    width: 100px;
    height: 80px;
    margin-right: 1rem;
  }
  .qtyBtn {
    padding: 5px 10px;
    font-size: 18px;
  }
  .thirdCol span {
    font-size: 20px;
  }
  .cartSummary {
    width: 30%;
    margin-left: 0.5rem;
    padding: 10px;
    margin-top: 0;
  }
  .cartSummary h2 {
    font-size: 1.3rem;
  }

  .cartSummary button {
    height: 35px;
    font-size: 17px;
  }
}
