.mainContainer {
  max-width: 1170px;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  padding: 3rem 3rem;
}
.cartDetails {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cartItem {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cartItemImg {
  width: 100px;
  height: 100px;
}
.cartItemImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cartItemInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}
.btn {
  margin: 0px 10px;
}
