.mainContainer {
  width: 100%;
  min-height: calc(100vh - 5rem);
  padding: 1rem;
  background-color: var(--primary-dark-blue);
  display: flex;
  justify-content: center;
}
.mainContainer form {
  width: 100%;
  padding: 10px;
  height: max-content;
  background-color: var(--primary-dark-blue);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid rgba(39, 41, 61, 0.7);
}
.mainContainer form h1 {
  color: var(--text-white);
}

.btn {
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: var(--main-green);
  color: var(--primary-dark-blue);
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn:disabled {
  opacity: 0.6;
}

.link {
  color: var(--text-white);
  font-size: 14px;
}
@media only screen and (min-width: 600px) {
  .mainContainer {
    padding: 2rem;
  }
  .mainContainer form {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  .mainContainer {
    height: calc(100vh - 5.5rem);
  }
  .mainContainer form {
    width: 40%;
  }
  .link {
    font-size: 16px;
  }
}
