.layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
}
a {
  text-decoration: none;
}
.grayText {
  font-size: 13px;
  color: var(--text-gray);
}
button {
  cursor: pointer;
}
:root {
  --primary-dark-blue: rgb(22, 24, 40);
  --secondary-dark-blue: rgb(39, 41, 61);
  --red-color: rgb(229, 88, 88);
  --main-green: rgb(48, 179, 148);
  --bg-color: rgb(232, 234, 233);
  --main-gray: rgb(236, 240, 244);
  --pink-color: rgb(231, 99, 130);
  --text-white: rgb(222, 222, 222);
  --text-gray: rgb(148, 150, 159);
  --gold-color: rgb(249, 161, 45);
}
